{% extends 'yasn/base.html' %}

{% block content %}
    <h1> Change your password </h1> 
    <form action="{% url change_password %}" method="post"> 

    <div id="change-form">
        <div class="line">
            <div class="label">{{ change_pass_form.old_password.label_tag }}:</div>
            <div class="field">{{ change_pass_form.old_password }}</div>
        </div>
        <div class="line">
            <div class="label">{{ change_pass_form.new_password1.label_tag }}:</div>
            <div class="field">{{ change_pass_form.new_password1 }}</div>
        </div>
        <div class="line">
            <div class="label">{{ change_pass_form.new_password2.label_tag }}:</div>
            <div class="field">{{ change_pass_form.new_password2 }}</div>
        </div>
        <div class="line">
            <div class="field"><input type="submit" value="Change" /></div>
        </div>
    </div>
    {{ change_pass_form.errors }}
    </form>
{% endblock %}