{% extends 'yasn/base.html' %}

{% block content %}
<h1> Welcome to YASN ! </h1>
<div id="login-form">
    <form action="{% url login_view %}" method="post">
        
        <div class="line">
            <div class="label">Username:</div><div class="field"><input type="text" name="username" id="username" /></div>
        </div>

        <div class="line">
            <div class="label">Password:</div><div class="field"><input type="password" name="password" /></div>
        </div>

        <div class="line">
            <div class="field"><input type="submit" value="Login" /></div><a href="{% url recover_password %}">Recover password</a>
        </div>
    </form>
</div>

<div id="login-infos">
    <p>
        YASN is a simple social network that uses <a href="http://www.socialconnect.in">SocialConnect</a>. Sign in with your username and password or 
        <a href="{% url signup %}">sign up</a> to create a new account.    
    </p>
    <p>
        You will then be able to test the functionalities that <a href="http://www.socialconnect.in">SocialConnect</a> can add to a social network. To do so, you need a Facebook, MySpace or Partuza account. Use them to get your profiles or friends from these other social netowrks.
    </p>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#username').focus();
    });
</script>

{% endblock %}