{% extends 'yasn/base.html' %}

{% block content %}
    <h1> Recover your lost password </h1>   
    <form action="{% url recover_password %}" method="post">    

    <div id="recover-form">
            <div class="line">
                <div class="label">{{ recover_form.email.label_tag }}:</div>
                <div class="field">{{ recover_form.email }}</div>
                {% if recover_form.email.errors %}<div class="errorfield field error">{% for error in recover_form.email.errors %}{{ error }}{% endfor %}</div> {% endif %}
            </div>

            <div class="line">
                <div class="field"><input type="submit" value="Recover" /></div>
            </div>
    </div>
    </form>
{% endblock %}