{% extends 'yasn/base.html' %}

{% block content %}

<h2>Your Profile from {{ platform_name }}</h2>
    <div class="profile">
        <div class="profile-head"><a href="{{ profile.profile_url }}">{{ profile.displayName }}<br /></a></div>
        <div class="profile-pic"><img src="{{profile.photo}}" alt="{{ profile.displayName }}'s picture"/></div>
        <div class="profile-infos">
            Birthday: {{profile.birthday}}<br />
            Gender: {{profile.gender}}<br />
            Description: {{profile.aboutMe}}<br />
            Emails: {{profile.emails}}<br />
            Address: {{profile.address}}<br />
            Work History: {{profile.work_history}}<br />
        </div>
    </div>  

{% endblock %}
